.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Outfit', sans-serif;
    
 }
    .attribution a { 
        color: hsl(228, 45%, 44%);
     }
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: hsl(217, 54%, 11%);
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 530px;
        width: 300px;
        margin: 70px auto auto auto;
        background-color: hsl(216, 50%, 16%);
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .container .card{
height: 250px;
width: 250px;
margin: 20px auto 0 auto;
    }
    .container .card .box1 {
        height: 250px;
        display: flex;
        z-index: 3;
        position: absolute;
        width: 250px;
        border-radius: 12px;
        background-color: hsla(178, 100%, 50%, 0.541);
    } 
    .container .card .box1 img {
        height: 20px;
        margin: auto;
    }
    .container .card .pic {
        height: 250px;
        width: 250px;
    border-radius: 10px;
    z-index: 4;
        position:absolute;
}
.container .box2 h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 20px;
}
    .container .box2 p {
        margin-left: 25px;
        margin-top: 18px;
        color: hsl(215, 51%, 70%);
        font-family: 'Outfit', sans-serif;
    }
    .container .box3 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 25px;
    } 
    .container .box3 .t1 {
color: hsl(178, 100%, 50%);
font-family: 'Outfit', sans-serif;
margin-left: 7px;
font-size: 14px;
    }
    .container .box3 .t2 {
        margin-left: 73px;
    }
    .container .box3 .t3 {
        margin-left: 7px;
        color: hsl(215, 51%, 70%);
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
    }
    .container hr {
        width: 260px;
        margin: 20px auto 0 auto;
        border: 1px solid hsl(215, 32%, 27%);
        background-color: hsl(215, 32%, 27%);
    }
    .container .box4 {
        display: flex;
        align-items: center;
        margin: 20px 20px 0 20px;
        font-family: 'Outfit', sans-serif;
    }
    .container .box4 img {
        height: 35px;
        border-radius: 50px;
        border: 2px solid white;
    } 
    .container .box4 p {
        color: hsl(215, 51%, 70%);
        margin-left: 7px;
    }
    .container .box4 p mark {
        color: white;
        background-color: transparent;
    }
    .container .box4 p mark:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }
    .container .box2 h1:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }
    .container .card .pic:hover {
        cursor: pointer;
        z-index: 2;
    }
    .container .card .box1:hover {
        cursor: pointer;
        z-index: 5;
    }
    
